.env
.idea/
/deployer/servers.yaml
/deployer/tmp/
/node_modules/
/var/cache/*
!/var/cache/.gitignore
/var/log/apache/*
!/var/log/apache/.gitignore
/var/log/app/*
!/var/log/app/.gitignore
/var/log/php/*
!/var/log/php/.gitignore

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/coverage
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
